h1, h2, h3, h4, h5, h6, p {
  font-family: 'Open Sans', sans-serif !important;
}

.header-colour {
  /*
  background: #E6EBFF;  //fallback for old browsers
  background: -webkit-linear-gradient(to right, #fbfbfb, #E6EBFF);  //Chrome 10-25, Safari 5.1-6
  background: linear-gradient(to right, #fbfbfb, #E6EBFF); // W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
  */
  background: #303A45 !important;
  color: #FBFBFB !important;
}

.app {
  /*
  background: #E6EBFF;  // fallback for old browsers
  background: -webkit-linear-gradient(to right, #fbfbfb, #E6EBFF);  // Chrome 10-25, Safari 5.1-6
  background: linear-gradient(to right, #fbfbfb, #E6EBFF); // W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
  */
  background: #FBFBFB;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif !important;
}

.nav-link {
  text-decoration: none !important;
  color: #FBFBFB !important;
}

.landing-grid {
 position: fixed;
 top: 50%;
 text-align: center;
 transform: translateY(-50%);
 width: 100%;
}

.banner-text h1 {
  font-size: 50px;
  font-weight: bold;
  color: #455363;
  text-align: center;
  padding-top: 5px;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 22%;
  margin: auto;
  padding-bottom: 5px;
}

.social-links i {
  font-size: 3em;
  padding: 8px;
  color: #455363;
}

.projects-grid {
  display: flex;
  width: 100%;
}

.project-summary-title {
  text-align: left;
  color: #303A45;
}

.project-summary {
  text-align: left;
  color: #455363;
  font-size: 18px;
}

.project-content-title {
  text-align: left;
  color: #303A45;
}

.project-title {
  color: #303A45;
}

.project-content {
  text-align: left;
  padding-bottom: 10px;
}

.project-content p{
  font-size: 18px !important;
  color: #303A45 !important;
}

.blog-summary {
  color: #455363;
  text-align: center;
  padding-bottom: 20px;
  font-size: 18px;
}

.blog-title {
  color: #303A45;
}

.blog-content {
  text-align: left;
  padding-bottom: 10px;
  color: #303A45;
}

.blog-content p {
  font-size: 18px;
}

.page-content {
  padding-top: 4em;
}

.sign-in {
  max-width: 600px;
  margin: 0 auto;
  color: #303A45;
}

.sign-in h4 {
  text-align: center;
  font-weight: 500;
}

.sign-in input[type=password],input[type=email], input[type=text], input[type=url], select, textarea {
   width: 100%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   margin-top: 6px;
   margin-bottom: 16px;
   resize: vertical;
}

button {
  background-color: #455363;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #303A45;
}

.add-project {
  max-width: 1200px;
  margin: 0 auto;
  color: #303A45;
}


.add-blog {
  max-width: 1200px;
  margin: 0 auto;
  color: #303A45;
}

.nav-image {
  max-height: 25px;
}

.dash-card {
  box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
  width: 80%;
  padding: 5px 5px 5px 5px;
  color: #303A45;

}

.dash-card:hover {
  box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.2);
}

.dash-card-container {
  padding-top: 1.5em;
  padding-left: 10%;
}

.home-card {
  box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
  color: #303A45;
  padding: 1px 5px 15px 5px;
}

.home-card:hover {
  box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.2);
}

.home-card-container {
  padding-top: 1.5em;
}

.post-date {
  color: #455363;
}
